@import "../../mainStyling.scss";

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1vh;
    background-color: #000000;
    height: 99vh;
    user-select: none;
    color: white;
    .loginBlock{
        display: flex;
        flex-direction: column;
        background-color: rgba(255,255,255,0.08);
        width: 35vw;
        height: 60vh;
        border-radius: 18px;
        font-family: 'poppins';
        .topSection{
            display: flex;
            width: 100%;
            height: 10vh;
            border-radius: 18px 18px 0px 0px;
            font-size: 22px;
            font-weight: bold;
            .signOpt{
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #56284B;
                width: 50%;
                height: 100%;
                border-radius: 18px 0px 0px 0px;
            }
            .signOpt2{
                background-color: #244F5D;
                border-radius: 0px 18px 0px 0px;
            }
        }
        .form{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            p{
                margin-left: -15vw;
            }
            .input{
                background-color: #000000;
                outline: none;
                border: 1px solid white;
                border-radius: 45px;
                height: 5vh;
                width: 20vw;
                padding-left: 1vw;
                margin-top: 0.7vh;
                margin-bottom: 5vh;
            }
            .button{
                background-color: #56284B;
                border: 0;
                border-radius: 45px;
                height: 5vh;
                width: 21vw;
                color: white;
                font-weight: bold;
                margin-top: 1vh;
            }
        }
    }
}