@import "../../mainStyling.scss";

.main{
    display: flex;
    background-color: #111218;
    height: 14vh;
    width: 18vw;
    padding: 1vw;
    padding-top: 4vh;
    border-radius: 10px;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .tags{
        margin-top: 10px;
        display: flex;
        width: 100%;
        height: fit-content;
        gap: 0.2vw;
        flex-wrap: wrap;
    }
}